* { /*zerar html inicial*/
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}


header { /*define as configurações do cabeçalho*/
    border: solid 5px rgb(255, 0, 157); /*tentando identificar o problema da logo presa na lateral*/
    margin: 0px;
    width: 100%; /*largura de 100%*/
    background-image: linear-gradient(to bottom, yellow, white); /*para fazer fundo degradê*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px; /*padding: valor1 valor2 valor3 valor4; espaçamentos superior, direito, inferior e esquerdo nesta ordem.*/
}

#container-logo {
    width: 50%;
    height: 250px;
    border: solid 5px #f00; /*tentando identificar o problema da logo presa na lateral*/
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #494738;
}

#centro {
    border: solid 5px rgb(0, 255, 26);
    width: 20%;
}

#titulo {
    color: #494738;
    border: solid 5px rgb(0, 221, 255);
    font-size: 35px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    font-size: 150%;
    text-decoration: none;
    color: #494738; /*text-transform: uppercase;*/
    padding: 10px 10px;
    border: solid 5px green; /*verificando a função apenas....pode tirar*/
}

nav a:hover {
    background-color: #FFFFFF;/*verificando a função apenas....pode tirar*/
    color: #fd0000;
    text-decoration: underline;
    border: solid 5px green; /*verificando a função apenas....pode tirar*/
}









Body {
    border: solid 5px rgb(0, 17, 255); /*verificando a função apenas....pode tirar*/
    background: #FFFFFF;
    color: #494738
}

h1 {
    margin: 50px;
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 20px;
    text-indent: 2em;
    line-height: 1.2em;
    margin-bottom: 50px;
}


.porque {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    margin-right: 0;
}

/*.quinteto{
    width: 20%;
}*/



footer {
    background: yellow;
    color: black;
    text-align: center;
}
